InforConnector/InforConnector/Connected Services/InforUnplannedMaterial/IWMStdUnplannedMatlIssue.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:bo="http://www.infor.com/businessinterface/IWMStdUnplannedMatlIssue" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IWMStdUnplannedMatlIssue" targetNamespace="http://www.infor.com/businessinterface/IWMStdUnplannedMatlIssue" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.infor.com/businessinterface/IWMStdUnplannedMatlIssue">
      <xsd:complexType name="IssueMaterialRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ControlArea">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" default="request" name="processingScope" type="bo:processingScope" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DataArea">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="IWMStdUnplannedMatlIssue">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="1" name="ProdOrder" type="xsd:string" />
                      <xsd:element minOccurs="0" name="Operation" type="xsd:long" />
                      <xsd:element minOccurs="0" name="Item" type="xsd:string" />
                      <xsd:element minOccurs="0" name="Warehouse" type="xsd:string" />
                      <xsd:element minOccurs="0" name="Location" type="xsd:string" />
                      <xsd:element minOccurs="0" name="LotCode" type="xsd:string" />
                      <xsd:element minOccurs="0" name="InvDate" type="xsd:string" />
                      <xsd:element minOccurs="0" name="SerialNumber" type="xsd:string" />
                      <xsd:element minOccurs="0" name="Quantity" type="xsd:double" />
                      <xsd:element minOccurs="0" name="Unit" type="xsd:string" />
                      <xsd:element minOccurs="0" name="Position" type="xsd:long" />
                      <xsd:element minOccurs="0" name="HandlingUnit" type="xsd:string" />
                      <xsd:element minOccurs="0" name="CreateTargetHU" type="xsd:string" />
                      <xsd:element minOccurs="0" name="TargetHU" type="xsd:string" />
                      <xsd:element minOccurs="0" name="GenerateOutbound" type="xsd:string" />
                      <xsd:element minOccurs="0" name="ReleaseOutbound" type="xsd:string" />
                      <xsd:element minOccurs="0" name="TransID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="LoginCode" type="xsd:string" />
                      <xsd:element minOccurs="0" name="PrintLabel" type="xsd:string" />
                      <xsd:element minOccurs="0" name="RunNumber" type="xsd:string" />
                      <xsd:element minOccurs="0" name="AllSerials" type="xsd:string" />
                      <xsd:element minOccurs="0" name="GenerateSerials" type="xsd:string" />
                      <xsd:element minOccurs="0" name="AllNinvLots" type="xsd:string" />
                      <xsd:element minOccurs="0" name="GenerateNinvLots" type="xsd:string" />
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="IssueMaterialResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="DataArea">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="IWMStdUnplannedMatlIssue">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="OutData" type="xsd:string" />
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="InformationArea" type="bo:InformationArea" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ActivationType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="username" type="xsd:string" />
          <xsd:element minOccurs="0" name="password" type="xsd:string" />
          <xsd:element minOccurs="0" name="company" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Activation" type="bo:ActivationType" />
      <xsd:element name="Result" type="bo:Message" />
      <xsd:complexType name="InformationArea">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Message" type="bo:InformationMessage" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Message">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="messageIndex" type="xsd:integer" />
          <xsd:element name="messageCode" type="xsd:string" />
          <xsd:element name="messageType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Error" />
                <xsd:enumeration value="Warning" />
                <xsd:enumeration value="Information" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="messageText" type="xsd:string" />
          <xsd:element name="messageSource" type="xsd:string" />
          <xsd:element minOccurs="0" name="MessageDetails">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Message" type="bo:DetailMessage" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="messageCorrectiveAction" type="xsd:string" />
          <xsd:choice>
            <xsd:element minOccurs="0" name="messageAdditionalHelpText" type="xsd:string" />
            <xsd:element minOccurs="0" name="messageAdditionalHelpURI" type="xsd:anyURI" />
          </xsd:choice>
          <xsd:element minOccurs="0" name="MessageReference">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="messageReferenceType" type="xsd:string" />
                <xsd:element name="messageReferenceInfo" type="xsd:anyType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DetailMessage">
        <xsd:complexContent mixed="false">
          <xsd:extension base="bo:Message">
            <xsd:attribute name="ID" type="xsd:ID" use="optional" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="InformationMessage">
        <xsd:complexContent mixed="false">
          <xsd:extension base="bo:Message">
            <xsd:attribute name="ID" type="xsd:ID" use="required" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="FilterType">
        <xsd:choice>
          <xsd:element name="LogicalExpression" type="bo:LogicalExpressionType" />
          <xsd:element name="ComparisonExpression" type="bo:ComparisonExpressionType" />
        </xsd:choice>
      </xsd:complexType>
      <xsd:complexType name="LogicalExpressionType">
        <xsd:sequence>
          <xsd:element name="logicalOperator">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="or" />
                <xsd:enumeration value="and" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:choice minOccurs="2" maxOccurs="unbounded">
            <xsd:element maxOccurs="unbounded" name="LogicalExpression" type="bo:LogicalExpressionType" />
            <xsd:element maxOccurs="unbounded" name="ComparisonExpression" type="bo:ComparisonExpressionType" />
          </xsd:choice>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ComparisonExpressionType">
        <xsd:sequence>
          <xsd:element name="comparisonOperator">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="le" />
                <xsd:enumeration value="lt" />
                <xsd:enumeration value="ge" />
                <xsd:enumeration value="gt" />
                <xsd:enumeration value="ne" />
                <xsd:enumeration value="eq" />
                <xsd:enumeration value="like" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:choice>
            <xsd:element name="attributeName" type="bo:filterAttributeListDT" />
            <xsd:element name="emptyValue" type="bo:EmptyValueType" />
            <xsd:element name="instanceValue" type="xsd:string" />
          </xsd:choice>
          <xsd:choice>
            <xsd:element name="attributeName" type="bo:filterAttributeListDT" />
            <xsd:element name="emptyValue" type="bo:EmptyValueType" />
            <xsd:element name="instanceValue" type="xsd:string" />
          </xsd:choice>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EmptyValueType" />
      <xsd:simpleType name="filterAttributeListDT">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.ProdOrder" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.Operation" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.Item" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.Warehouse" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.Location" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.LotCode" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.InvDate" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.SerialNumber" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.Quantity" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.Unit" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.Position" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.HandlingUnit" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.CreateTargetHU" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.TargetHU" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.GenerateOutbound" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.ReleaseOutbound" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.TransID" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.LoginCode" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.PrintLabel" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.OutData" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.RunNumber" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.AllSerials" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.GenerateSerials" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.AllNinvLots" />
          <xsd:enumeration value="IWMStdUnplannedMatlIssue.GenerateNinvLots" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="SelectionType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="selectionAttribute">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="*" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.*" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.ProdOrder" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.Operation" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.Item" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.Warehouse" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.Location" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.LotCode" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.InvDate" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.SerialNumber" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.Quantity" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.Unit" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.Position" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.HandlingUnit" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.CreateTargetHU" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.TargetHU" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.GenerateOutbound" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.ReleaseOutbound" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.TransID" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.LoginCode" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.PrintLabel" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.OutData" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.RunNumber" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.AllSerials" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.GenerateSerials" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.AllNinvLots" />
                <xsd:enumeration value="IWMStdUnplannedMatlIssue.GenerateNinvLots" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="processingScope">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="not_applicable" />
          <xsd:enumeration value="request" />
          <xsd:enumeration value="business_entity" />
          <xsd:enumeration value="business_entity_component" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="actionType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="create" />
          <xsd:enumeration value="createOrChange" />
          <xsd:enumeration value="change" />
          <xsd:enumeration value="delete" />
          <xsd:enumeration value="unchanged" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IssueMaterialRequest">
    <wsdl:part name="IssueMaterialRequest" type="bo:IssueMaterialRequestType" />
  </wsdl:message>
  <wsdl:message name="IssueMaterialResponse">
    <wsdl:part name="IssueMaterialResponse" type="bo:IssueMaterialResponseType" />
  </wsdl:message>
  <wsdl:message name="Result">
    <wsdl:part name="Result" element="bo:Result" />
  </wsdl:message>
  <wsdl:message name="Header">
    <wsdl:part name="Activation" element="bo:Activation" />
  </wsdl:message>
  <wsdl:portType name="IWMStdUnplannedMatlIssue">
    <wsdl:operation name="IssueMaterial">
      <wsdl:input message="bo:IssueMaterialRequest" />
      <wsdl:output message="bo:IssueMaterialResponse" />
      <wsdl:fault name="FaultName" message="bo:Result" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IWMStdUnplannedMatlIssueSoapBinding" type="bo:IWMStdUnplannedMatlIssue">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="IssueMaterial">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.infor.com/businessinterface/IWMStdUnplannedMatlIssue" />
        <soap:header message="bo:Header" part="Activation" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.infor.com/businessinterface/IWMStdUnplannedMatlIssue" />
      </wsdl:output>
      <wsdl:fault name="FaultName">
        <soap:fault use="literal" name="FaultName" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IWMStdUnplannedMatlIssueService">
    <wsdl:port name="IWMStdUnplannedMatlIssueSoapPort" binding="bo:IWMStdUnplannedMatlIssueSoapBinding">
      <soap:address location="http://192.168.1.31:8312/c4ws/services/IWMStdUnplannedMatlIssue/lntestclone" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>