UADMSoapWrapp/ServiceTestConsole/Connected Services/OPEXTSoapService/OPEXTWrapper2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UADMSoapWrapp.DataTypes.OPEXT" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UADMSoapWrapp.DataTypes.OPEXT" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WorkOrderRequest">
    <xs:sequence>
      <xs:element name="ERPId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimatedEndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EstimatedStartTime" type="xs:dateTime" />
      <xs:element name="FinalMaterialCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinalMaterialRevision" nillable="true" type="xs:string" />
      <xs:element name="Priority" type="xs:int" />
      <xs:element name="Quantity" type="xs:int" />
      <xs:element name="ToBeConsumedMaterials" nillable="true" type="tns:ArrayOfToBeConsumedMaterial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkOrderRequest" nillable="true" type="tns:WorkOrderRequest" />
  <xs:complexType name="ArrayOfToBeConsumedMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToBeConsumedMaterial" nillable="true" type="tns:ToBeConsumedMaterial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToBeConsumedMaterial" nillable="true" type="tns:ArrayOfToBeConsumedMaterial" />
  <xs:complexType name="ToBeConsumedMaterial">
    <xs:sequence>
      <xs:element name="MaterialCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialRevision" nillable="true" type="xs:string" />
      <xs:element name="Quantity" type="xs:decimal" />
      <xs:element name="Sequence" type="xs:int" />
      <xs:element name="UoM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToBeConsumedMaterial" nillable="true" type="tns:ToBeConsumedMaterial" />
  <xs:complexType name="WorkOrderResponse">
    <xs:sequence>
      <xs:element name="WorkOrderId" type="xs:int" />
      <xs:element name="WorkOrderNId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkOrderResponse" nillable="true" type="tns:WorkOrderResponse" />
  <xs:complexType name="MaterialDefinitionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element name="MaterialCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialRevision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serialized" type="xs:boolean" />
      <xs:element name="UoM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaterialDefinitionRequest" nillable="true" type="tns:MaterialDefinitionRequest" />
  <xs:complexType name="MaterialDefinitionResponse">
    <xs:sequence>
      <xs:element name="MaterialCode" nillable="true" type="xs:string" />
      <xs:element name="MaterialRevision" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaterialDefinitionResponse" nillable="true" type="tns:MaterialDefinitionResponse" />
</xs:schema>