WindchillMockSerrvice/WindchillDocConnector/Connected Services/WindchillDocService/xsd1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.cdm.ext/" xmlns:swaRef="http://ws-i.org/profiles/basic/1.1/xsd" targetNamespace="http://ws.cdm.ext/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd" namespace="http://ws-i.org/profiles/basic/1.1/xsd" />
  <xs:element name="Document" type="tns:wsDocument" />
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="RevisionControlled" nillable="true" type="xs:anyType" />
  <xs:element name="WSLink" type="tns:wsLink" />
  <xs:element name="createLink" type="tns:createLink" />
  <xs:element name="createLinkResponse" type="tns:createLinkResponse" />
  <xs:element name="download" type="tns:download" />
  <xs:element name="downloadResponse" type="tns:downloadResponse" />
  <xs:element name="getChildren" type="tns:getChildren" />
  <xs:element name="getChildrenResponse" type="tns:getChildrenResponse" />
  <xs:element name="getLinks" type="tns:getLinks" />
  <xs:element name="getLinksResponse" type="tns:getLinksResponse" />
  <xs:element name="getParents" type="tns:getParents" />
  <xs:element name="getParentsResponse" type="tns:getParentsResponse" />
  <xs:element name="getRelatedDocuments" type="tns:getRelatedDocuments" />
  <xs:element name="getRelatedDocumentsResponse" type="tns:getRelatedDocumentsResponse" />
  <xs:element name="getRevisionControlled" type="tns:getRevisionControlled" />
  <xs:element name="getRevisionControlledResponse" type="tns:getRevisionControlledResponse" />
  <xs:element name="query" type="tns:query" />
  <xs:element name="queryParts" type="tns:queryParts" />
  <xs:element name="queryPartsResponse" type="tns:queryPartsResponse" />
  <xs:element name="queryResponse" type="tns:queryResponse" />
  <xs:element name="revise" type="tns:revise" />
  <xs:element name="reviseResponse" type="tns:reviseResponse" />
  <xs:element name="setStatePredecessor" type="tns:setStatePredecessor" />
  <xs:element name="setStatePredecessorResponse" type="tns:setStatePredecessorResponse" />
  <xs:element name="setStateSuccessor" type="tns:setStateSuccessor" />
  <xs:element name="setStateSuccessorResponse" type="tns:setStateSuccessorResponse" />
  <xs:element name="test" type="tns:test" />
  <xs:element name="testResponse" type="tns:testResponse" />
  <xs:element name="transactionCommit" type="tns:transactionCommit" />
  <xs:element name="transactionCommitResponse" type="tns:transactionCommitResponse" />
  <xs:element name="transactionRollback" type="tns:transactionRollback" />
  <xs:element name="transactionRollbackResponse" type="tns:transactionRollbackResponse" />
  <xs:element name="transactionStart" type="tns:transactionStart" />
  <xs:element name="transactionStartResponse" type="tns:transactionStartResponse" />
  <xs:element name="uploadDocument" type="tns:uploadDocument" />
  <xs:element name="uploadDocumentResponse" type="tns:uploadDocumentResponse" />
  <xs:complexType name="getLinks">
    <xs:sequence>
      <xs:element minOccurs="0" name="number" type="xs:string" />
      <xs:element minOccurs="0" name="revision" type="xs:string" />
      <xs:element minOccurs="0" name="levels" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLinksResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documents" type="tns:wsLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsLink">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="child" type="tns:wsRevisionControlled" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="links" nillable="true" type="tns:wsLink" />
      <xs:element name="circular" type="xs:boolean" />
      <xs:element name="down" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsRevisionControlled">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="softType" type="xs:string" />
      <xs:element minOccurs="0" name="state" type="xs:string" />
      <xs:element minOccurs="0" name="revision" type="xs:string" />
      <xs:element minOccurs="0" name="createdAt" type="xs:string" />
      <xs:element minOccurs="0" name="createdBy" type="xs:string" />
      <xs:element minOccurs="0" name="iteration" type="xs:string" />
      <xs:element minOccurs="0" name="modifiedAt" type="xs:string" />
      <xs:element minOccurs="0" name="modifiedBy" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:string" />
      <xs:element minOccurs="0" name="format" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="test">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="testResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryParts">
    <xs:sequence>
      <xs:element minOccurs="0" name="number" type="xs:string" />
      <xs:element minOccurs="0" name="revision" type="xs:string" />
      <xs:element minOccurs="0" name="viewType" type="xs:string" />
      <xs:element minOccurs="0" name="levels" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryPartsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parts" type="tns:wsRevisionControlled" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setStateSuccessor">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:int" />
      <xs:element minOccurs="0" name="number" type="xs:string" />
      <xs:element minOccurs="0" name="revision" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setStateSuccessorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setStatePredecessor">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:int" />
      <xs:element minOccurs="0" name="number" type="xs:string" />
      <xs:element minOccurs="0" name="revision" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="setStatePredecessorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionStart">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="transactionStartResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="uploadDocument">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:int" />
      <xs:element minOccurs="0" name="file" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="metadata" type="tns:wsDocument" />
      <xs:element minOccurs="0" name="organization" type="xs:string" />
      <xs:element minOccurs="0" name="cantainer" type="xs:string" />
      <xs:element minOccurs="0" name="cantainerClass" type="xs:string" />
      <xs:element minOccurs="0" name="folder" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsDocument">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsRevisionControlled">
        <xs:sequence>
          <xs:element minOccurs="0" name="docType" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="uploadDocumentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createLink">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:int" />
      <xs:element minOccurs="0" name="linkType" type="xs:string" />
      <xs:element minOccurs="0" name="ParentNumber" type="xs:string" />
      <xs:element minOccurs="0" name="ParentRevision" type="xs:string" />
      <xs:element minOccurs="0" name="ChildNumber" type="xs:string" />
      <xs:element minOccurs="0" name="ChildRevision" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createLinkResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRelatedDocuments">
    <xs:sequence>
      <xs:element minOccurs="0" name="number" type="xs:string" />
      <xs:element minOccurs="0" name="revision" type="xs:string" />
      <xs:element minOccurs="0" name="viewType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRelatedDocumentsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documents" type="tns:wsRevisionControlled" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getParents">
    <xs:sequence>
      <xs:element minOccurs="0" name="number" type="xs:string" />
      <xs:element minOccurs="0" name="revision" type="xs:string" />
      <xs:element minOccurs="0" name="levels" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getParentsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documents" type="tns:wsLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getChildren">
    <xs:sequence>
      <xs:element minOccurs="0" name="number" type="xs:string" />
      <xs:element minOccurs="0" name="revision" type="xs:string" />
      <xs:element minOccurs="0" name="levels" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getChildrenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documents" type="tns:wsLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="download">
    <xs:sequence>
      <xs:element minOccurs="0" name="fullClassName" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:string" />
      <xs:element minOccurs="0" name="revision" type="xs:string" />
      <xs:element minOccurs="0" name="ContentRoleType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="downloadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" type="swaRef:swaRef" />
      <xs:element minOccurs="0" name="fileName" type="xs:string" />
      <xs:element minOccurs="0" name="authoredBy" type="xs:string" />
      <xs:element minOccurs="0" name="businessType" type="xs:string" />
      <xs:element minOccurs="0" name="category" type="xs:string" />
      <xs:element minOccurs="0" name="comments" type="xs:string" />
      <xs:element minOccurs="0" name="conceptualClassname" type="xs:string" />
      <xs:element minOccurs="0" name="contentIdentity" type="xs:string" />
      <xs:element minOccurs="0" name="createdBy" type="xs:string" />
      <xs:element minOccurs="0" name="createdAt" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="format" type="xs:string" />
      <xs:element minOccurs="0" name="lastAuthored" type="xs:dateTime" />
      <xs:element minOccurs="0" name="modifiedBy" type="xs:string" />
      <xs:element minOccurs="0" name="modifiedAt" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRevisionControlled">
    <xs:sequence>
      <xs:element minOccurs="0" name="fullClassName" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:string" />
      <xs:element minOccurs="0" name="revision" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRevisionControlledResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsRevisionControlled" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionCommit">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionCommitResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionRollback">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionRollbackResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="revise">
    <xs:sequence>
      <xs:element name="transactionId" type="xs:int" />
      <xs:element minOccurs="0" name="file" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="metadata" type="tns:wsDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reviseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wsDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="query">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="filter" type="tns:wsDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="queryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documents" type="tns:wsDocument" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>