InforConnector/InforConnector/wsdls/ProducedQuantity.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- 
   ******************************************************
   Copyright Infor, Inc. 2000-2007.
   All rights reserved.
  
   Generated by generator,
   Name    : Infor LN Studio Web Services WSDL Generator
   Id      : com.infor.ln.studio.intg.generator.typesafe.wsdl
   version : 10.5.0.0234 
   version : 10.5.0.0234 (framework)
 
   on Sep 29, 2016 5:20:21 AM. 
   Please: DO NOT EDIT THIS GENERATED SOURCE 
!--><wsdl:definitions xmlns:bo="http://www.infor.com/businessinterface/IWMStdReportProduction" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IWMStdReportProduction" targetNamespace="http://www.infor.com/businessinterface/IWMStdReportProduction">

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.infor.com/businessinterface/IWMStdReportProduction">
			<xsd:complexType name="ReportProductionRequestType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ControlArea">
						<xsd:complexType>
							<xsd:sequence>								
								<xsd:element default="request" minOccurs="0" name="processingScope" type="bo:processingScope"></xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="DataArea">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0" name="IWMStdReportProduction">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element minOccurs="1" name="ProductionOrder" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="QtyDeliver" type="xsd:double"></xsd:element>
											<xsd:element minOccurs="0" name="QtyReject" type="xsd:double"></xsd:element>
											<xsd:element minOccurs="0" name="Warehouse" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="LotCode" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="PostHours" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="ReportMore" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="ReportPrevious" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="BackFlush" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="DirectReceipt" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="Complete" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="SerialNumber" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="GenerateInbound" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="ReleaseInbound" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="RunNumber" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="Location" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="InsertNewSerial" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="Shift" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="ReceiptLocation" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="CompletionDate" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="KanbanID" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="RejectReason" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="TransID" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="GenerateHU" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="HandlingUnit" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="FromRepOperation" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="CrossdockEnabled" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="LoginCode" type="xsd:string"></xsd:element>
											<xsd:element minOccurs="0" name="PackageDef" type="xsd:string"></xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ReportProductionResponseType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="DataArea">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0" name="IWMStdReportProduction">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element minOccurs="0" name="OutData" type="xsd:string"></xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="InformationArea" type="bo:InformationArea"></xsd:element>					
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ActivationType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="username" type="xsd:string"></xsd:element>
					<xsd:element minOccurs="0" name="password" type="xsd:string"></xsd:element>
					<xsd:element minOccurs="0" name="company" type="xsd:int"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Activation" type="bo:ActivationType"></xsd:element>
			<xsd:element name="Result" type="bo:Message"></xsd:element>	
			<xsd:complexType name="InformationArea">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="Message" type="bo:InformationMessage"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Message">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="messageIndex" type="xsd:integer"></xsd:element>
					<xsd:element name="messageCode" type="xsd:string"></xsd:element>
					<xsd:element name="messageType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Error"></xsd:enumeration>
								<xsd:enumeration value="Warning"></xsd:enumeration>
								<xsd:enumeration value="Information"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="messageText" type="xsd:string"></xsd:element>
					<xsd:element name="messageSource" type="xsd:string"></xsd:element>
					<xsd:element minOccurs="0" name="MessageDetails">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" name="Message" type="bo:DetailMessage"></xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element minOccurs="0" name="messageCorrectiveAction" type="xsd:string"></xsd:element>
					<xsd:choice>
						<xsd:element minOccurs="0" name="messageAdditionalHelpText" type="xsd:string"></xsd:element>
						<xsd:element minOccurs="0" name="messageAdditionalHelpURI" type="xsd:anyURI"></xsd:element>
					</xsd:choice>
					<xsd:element minOccurs="0" name="MessageReference">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="messageReferenceType" type="xsd:string"></xsd:element>
								<xsd:element name="messageReferenceInfo" type="xsd:anyType"></xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="DetailMessage">
				<xsd:complexContent>
					<xsd:extension base="bo:Message">
						<xsd:attribute name="ID" type="xsd:ID" use="optional"></xsd:attribute>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="InformationMessage">
				<xsd:complexContent>
					<xsd:extension base="bo:Message">
						<xsd:attribute name="ID" type="xsd:ID" use="required"></xsd:attribute>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="FilterType">
				<xsd:choice>
					<xsd:element name="LogicalExpression" type="bo:LogicalExpressionType"></xsd:element>
					<xsd:element name="ComparisonExpression" type="bo:ComparisonExpressionType"></xsd:element>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="LogicalExpressionType">
				<xsd:sequence>
					<xsd:element name="logicalOperator">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="or"></xsd:enumeration>
								<xsd:enumeration value="and"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:choice maxOccurs="unbounded" minOccurs="2">
						<xsd:element maxOccurs="unbounded" name="LogicalExpression" type="bo:LogicalExpressionType"></xsd:element>
						<xsd:element maxOccurs="unbounded" name="ComparisonExpression" type="bo:ComparisonExpressionType"></xsd:element>
					</xsd:choice>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ComparisonExpressionType">
				<xsd:sequence>
					<xsd:element name="comparisonOperator">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="le"></xsd:enumeration>
								<xsd:enumeration value="lt"></xsd:enumeration>
								<xsd:enumeration value="ge"></xsd:enumeration>
								<xsd:enumeration value="gt"></xsd:enumeration>
								<xsd:enumeration value="ne"></xsd:enumeration>
								<xsd:enumeration value="eq"></xsd:enumeration>
								<xsd:enumeration value="like"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:choice>
						<xsd:element name="attributeName" type="bo:filterAttributeListDT"></xsd:element>
						<xsd:element name="emptyValue" type="bo:EmptyValueType"></xsd:element>
						<xsd:element name="instanceValue" type="xsd:string"></xsd:element>
					</xsd:choice>
					<xsd:choice>
						<xsd:element name="attributeName" type="bo:filterAttributeListDT"></xsd:element>
						<xsd:element name="emptyValue" type="bo:EmptyValueType"></xsd:element>
						<xsd:element name="instanceValue" type="xsd:string"></xsd:element>
					</xsd:choice>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="EmptyValueType"></xsd:complexType>
			<xsd:simpleType name="filterAttributeListDT">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="IWMStdReportProduction.ProductionOrder"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.QtyDeliver"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.QtyReject"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.Warehouse"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.LotCode"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.PostHours"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.ReportMore"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.ReportPrevious"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.BackFlush"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.DirectReceipt"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.Complete"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.SerialNumber"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.GenerateInbound"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.ReleaseInbound"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.RunNumber"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.Location"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.InsertNewSerial"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.Shift"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.ReceiptLocation"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.CompletionDate"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.KanbanID"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.RejectReason"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.TransID"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.GenerateHU"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.HandlingUnit"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.FromRepOperation"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.CrossdockEnabled"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.LoginCode"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.OutData"></xsd:enumeration>
					<xsd:enumeration value="IWMStdReportProduction.PackageDef"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="SelectionType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="selectionAttribute">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="*"></xsd:enumeration>	
								<xsd:enumeration value="IWMStdReportProduction.*"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.ProductionOrder"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.QtyDeliver"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.QtyReject"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.Warehouse"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.LotCode"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.PostHours"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.ReportMore"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.ReportPrevious"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.BackFlush"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.DirectReceipt"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.Complete"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.SerialNumber"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.GenerateInbound"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.ReleaseInbound"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.RunNumber"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.Location"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.InsertNewSerial"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.Shift"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.ReceiptLocation"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.CompletionDate"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.KanbanID"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.RejectReason"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.TransID"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.GenerateHU"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.HandlingUnit"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.FromRepOperation"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.CrossdockEnabled"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.LoginCode"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.OutData"></xsd:enumeration>
								<xsd:enumeration value="IWMStdReportProduction.PackageDef"></xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="processingScope">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="not_applicable"></xsd:enumeration>
					<xsd:enumeration value="request"></xsd:enumeration>
					<xsd:enumeration value="business_entity"></xsd:enumeration>
					<xsd:enumeration value="business_entity_component"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="actionType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="create"></xsd:enumeration>
					<xsd:enumeration value="createOrChange"></xsd:enumeration>
					<xsd:enumeration value="change"></xsd:enumeration>
					<xsd:enumeration value="delete"></xsd:enumeration>
					<xsd:enumeration value="unchanged"></xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>	
	</wsdl:types>
	
	<wsdl:message name="ReportProductionRequest">
		<wsdl:part name="ReportProductionRequest" type="bo:ReportProductionRequestType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ReportProductionResponse">
		<wsdl:part name="ReportProductionResponse" type="bo:ReportProductionResponseType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Result">
		<wsdl:part element="bo:Result" name="Result"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Header">
		<wsdl:part element="bo:Activation" name="Activation"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="IWMStdReportProduction">
		<wsdl:operation name="ReportProduction">
			<wsdl:input message="bo:ReportProductionRequest"></wsdl:input>
			<wsdl:output message="bo:ReportProductionResponse"></wsdl:output>
			<wsdl:fault message="bo:Result" name="FaultName"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="IWMStdReportProductionSoapBinding" type="bo:IWMStdReportProduction">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
		<wsdl:operation name="ReportProduction">
			<soap:operation soapAction=""></soap:operation>						
			<wsdl:input>
				<soap:body namespace="http://www.infor.com/businessinterface/IWMStdReportProduction" use="literal"></soap:body>
				<soap:header message="bo:Header" part="Activation" use="literal"></soap:header>						
			</wsdl:input>
			<wsdl:output>
				<soap:body namespace="http://www.infor.com/businessinterface/IWMStdReportProduction" use="literal"></soap:body>
			</wsdl:output>
			<wsdl:fault name="FaultName">
				<soap:fault name="FaultName" use="literal"></soap:fault>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="IWMStdReportProductionService">
		<wsdl:port binding="bo:IWMStdReportProductionSoapBinding" name="IWMStdReportProductionSoapPort">
			<soap:address location="http://192.168.1.31:8312/c4ws/services/IWMStdReportProduction/lntestclone"></soap:address>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>