InforConnector/InforConnector/Connected Services/InforOperatorOperation/SFCOperatorOperation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:bo="http://www.infor.com/businessinterface/SFCOperatorOperation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SFCOperatorOperation" targetNamespace="http://www.infor.com/businessinterface/SFCOperatorOperation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.infor.com/businessinterface/SFCOperatorOperation">
      <xsd:complexType name="ListRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ControlArea">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="Selection" type="bo:SelectionType" />
                <xsd:element minOccurs="0" name="Filter" type="bo:FilterType" />
                <xsd:element minOccurs="0" name="sortingExpression" type="xsd:string" />
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="languageID" type="xsd:language" />
                <xsd:element minOccurs="0" name="suppressDefaultLanguageBehavior" type="xsd:boolean" />
                <xsd:element minOccurs="0" name="maxNumberOfObjects" type="xsd:long" />
                <xsd:element minOccurs="0" name="iteratorID" type="xsd:long" />
                <xsd:element minOccurs="0" name="iteratorFetchSize" type="xsd:long" />
                <xsd:element minOccurs="0" name="paging" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ControlArea">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="iteratorID" type="xsd:long" />
                <xsd:element minOccurs="0" name="iteratorFetchSize" type="xsd:long" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DataArea">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SFCOperatorOperation">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="ProductionOrderID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="OperationID" type="xsd:long" />
                      <xsd:element minOccurs="0" name="OperatedItem" type="xsd:string" />
                      <xsd:element minOccurs="0" name="OperatedItemDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="SerializedItemIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="TaskID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="TaskDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="NextOperationID" type="xsd:long" />
                      <xsd:element minOccurs="0" name="WorkCenterID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="WorkCenterDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="MachineID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="MachineDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="QuantityPlannedOutput">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="OperationStatus" type="xsd:string" />
                      <xsd:element minOccurs="0" name="LateIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="QuantityRequired" type="xsd:double" />
                      <xsd:element minOccurs="0" name="QuantityOnhandWarehouse" type="xsd:double" />
                      <xsd:element minOccurs="0" name="QuantityOnhandWarehouseCluster" type="xsd:double" />
                      <xsd:element minOccurs="0" name="ShortageWarehouseIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="ShortageWarehouseClusterIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="PlannedProductionStartDate" type="xsd:string" />
                      <xsd:element minOccurs="0" name="ActualProductionStartDate" type="xsd:string" />
                      <xsd:element minOccurs="0" name="QuantityCompleted">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="QuantityRejected">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="QuantityScrapped">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="QuantityQuarantined">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="RejectReasonID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="RejectReasonDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="SplitHoursIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="BackflushHoursIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="ProductionOrderText" type="xsd:string" />
                      <xsd:element minOccurs="0" name="OperationText" type="xsd:string" />
                      <xsd:element minOccurs="0" name="TaskText" type="xsd:string" />
                      <xsd:element minOccurs="0" name="RemainingProductionTime">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="BlockingReasonID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="BlockingReasonDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="BlockQuantityCompletedIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="BlockQuantityRejectedIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="BlockedForCompletionIndicator" type="xsd:boolean" />
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="InformationArea" type="bo:InformationArea" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ChangeRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ControlArea">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" default="request" name="processingScope" type="bo:processingScope" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DataArea">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SFCOperatorOperation">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="1" name="ProductionOrderID" type="xsd:string" />
                      <xsd:element minOccurs="1" name="OperationID" type="xsd:long" />
                      <xsd:element minOccurs="0" name="OperationStatus" type="xsd:string" />
                      <xsd:element minOccurs="0" name="ActualProductionStartDate" type="xsd:string" />
                      <xsd:element minOccurs="0" name="QuantityCompleted">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="QuantityRejected">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="QuantityScrapped">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="QuantityQuarantined">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="RejectReasonID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="RejectReasonDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="RemainingProductionTime">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="PostToInventoryIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="DirectReceiveIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SerializedItem">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="1" name="SerialNumber" type="xsd:string" />
                            <xsd:element minOccurs="0" name="RejectedIndicator" type="xsd:boolean" />
                          </xsd:sequence>
                          <xsd:attribute default="change" name="actionType" type="bo:actionType" use="optional" />
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ChangeResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="DataArea">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SFCOperatorOperation">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="1" name="ProductionOrderID" type="xsd:string" />
                      <xsd:element minOccurs="1" name="OperationID" type="xsd:long" />
                      <xsd:element minOccurs="0" name="OperationStatus" type="xsd:string" />
                      <xsd:element minOccurs="0" name="ActualProductionStartDate" type="xsd:string" />
                      <xsd:element minOccurs="0" name="QuantityCompleted">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="QuantityRejected">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="QuantityScrapped">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="QuantityQuarantined">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="RejectReasonID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="RejectReasonDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="RemainingProductionTime">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="PostToInventoryIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="DirectReceiveIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SerializedItem">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="1" name="SerialNumber" type="xsd:string" />
                            <xsd:element minOccurs="0" name="RejectedIndicator" type="xsd:boolean" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="InformationArea" type="bo:InformationArea" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CreateRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ControlArea">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" default="request" name="processingScope" type="bo:processingScope" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DataArea">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SFCOperatorOperation">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="1" name="ProductionOrderID" type="xsd:string" />
                      <xsd:element minOccurs="1" name="OperationID" type="xsd:long" />
                      <xsd:element minOccurs="0" name="OperatedItem" type="xsd:string" />
                      <xsd:element minOccurs="0" name="OperatedItemDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="SerializedItemIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="TaskID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="TaskDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="NextOperationID" type="xsd:long" />
                      <xsd:element minOccurs="0" name="WorkCenterID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="WorkCenterDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="MachineID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="MachineDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="QuantityPlannedOutput">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="OperationStatus" type="xsd:string" />
                      <xsd:element minOccurs="0" name="LateIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="QuantityRequired" type="xsd:double" />
                      <xsd:element minOccurs="0" name="QuantityOnhandWarehouse" type="xsd:double" />
                      <xsd:element minOccurs="0" name="QuantityOnhandWarehouseCluster" type="xsd:double" />
                      <xsd:element minOccurs="0" name="ShortageWarehouseIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="ShortageWarehouseClusterIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="PlannedProductionStartDate" type="xsd:string" />
                      <xsd:element minOccurs="0" name="ActualProductionStartDate" type="xsd:string" />
                      <xsd:element minOccurs="0" name="QuantityCompleted">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="QuantityRejected">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="QuantityScrapped">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="QuantityQuarantined">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="RejectReasonID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="RejectReasonDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="SplitHoursIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="BackflushHoursIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="ProductionOrderText" type="xsd:string" />
                      <xsd:element minOccurs="0" name="OperationText" type="xsd:string" />
                      <xsd:element minOccurs="0" name="TaskText" type="xsd:string" />
                      <xsd:element minOccurs="0" name="RemainingProductionTime">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="BlockingReasonID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="BlockingReasonDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="BlockQuantityCompletedIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="BlockQuantityRejectedIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="BlockedForCompletionIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="PostToInventoryIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="DirectReceiveIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SerializedItem">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="SerialNumber" type="xsd:string" />
                            <xsd:element minOccurs="0" name="RejectedIndicator" type="xsd:boolean" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CreateResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="DataArea">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="SFCOperatorOperation">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="1" name="ProductionOrderID" type="xsd:string" />
                      <xsd:element minOccurs="1" name="OperationID" type="xsd:long" />
                      <xsd:element minOccurs="0" name="OperatedItem" type="xsd:string" />
                      <xsd:element minOccurs="0" name="OperatedItemDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="SerializedItemIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="TaskID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="TaskDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="NextOperationID" type="xsd:long" />
                      <xsd:element minOccurs="0" name="WorkCenterID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="WorkCenterDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="MachineID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="MachineDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="QuantityPlannedOutput">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="OperationStatus" type="xsd:string" />
                      <xsd:element minOccurs="0" name="LateIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="QuantityRequired" type="xsd:double" />
                      <xsd:element minOccurs="0" name="QuantityOnhandWarehouse" type="xsd:double" />
                      <xsd:element minOccurs="0" name="QuantityOnhandWarehouseCluster" type="xsd:double" />
                      <xsd:element minOccurs="0" name="ShortageWarehouseIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="ShortageWarehouseClusterIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="PlannedProductionStartDate" type="xsd:string" />
                      <xsd:element minOccurs="0" name="ActualProductionStartDate" type="xsd:string" />
                      <xsd:element minOccurs="0" name="QuantityCompleted">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="QuantityRejected">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="QuantityScrapped">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="QuantityQuarantined">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="RejectReasonID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="RejectReasonDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="SplitHoursIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="BackflushHoursIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="ProductionOrderText" type="xsd:string" />
                      <xsd:element minOccurs="0" name="OperationText" type="xsd:string" />
                      <xsd:element minOccurs="0" name="TaskText" type="xsd:string" />
                      <xsd:element minOccurs="0" name="RemainingProductionTime">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="Value" type="xsd:double" />
                            <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
                            <xsd:element minOccurs="0" name="DisplayFormat" type="xsd:string" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="BlockingReasonID" type="xsd:string" />
                      <xsd:element minOccurs="0" name="BlockingReasonDescription" type="xsd:string" />
                      <xsd:element minOccurs="0" name="BlockQuantityCompletedIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="BlockQuantityRejectedIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="BlockedForCompletionIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="PostToInventoryIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" name="DirectReceiveIndicator" type="xsd:boolean" />
                      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SerializedItem">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" name="SerialNumber" type="xsd:string" />
                            <xsd:element minOccurs="0" name="RejectedIndicator" type="xsd:boolean" />
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="InformationArea" type="bo:InformationArea" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ActivationType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="username" type="xsd:string" />
          <xsd:element minOccurs="0" name="password" type="xsd:string" />
          <xsd:element minOccurs="0" name="company" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Activation" type="bo:ActivationType" />
      <xsd:element name="Result" type="bo:Message" />
      <xsd:complexType name="InformationArea">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Message" type="bo:InformationMessage" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Message">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="messageIndex" type="xsd:integer" />
          <xsd:element name="messageCode" type="xsd:string" />
          <xsd:element name="messageType">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Error" />
                <xsd:enumeration value="Warning" />
                <xsd:enumeration value="Information" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="messageText" type="xsd:string" />
          <xsd:element name="messageSource" type="xsd:string" />
          <xsd:element minOccurs="0" name="MessageDetails">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="Message" type="bo:DetailMessage" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="messageCorrectiveAction" type="xsd:string" />
          <xsd:choice>
            <xsd:element minOccurs="0" name="messageAdditionalHelpText" type="xsd:string" />
            <xsd:element minOccurs="0" name="messageAdditionalHelpURI" type="xsd:anyURI" />
          </xsd:choice>
          <xsd:element minOccurs="0" name="MessageReference">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="messageReferenceType" type="xsd:string" />
                <xsd:element name="messageReferenceInfo" type="xsd:anyType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DetailMessage">
        <xsd:complexContent mixed="false">
          <xsd:extension base="bo:Message">
            <xsd:attribute name="ID" type="xsd:ID" use="optional" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="InformationMessage">
        <xsd:complexContent mixed="false">
          <xsd:extension base="bo:Message">
            <xsd:attribute name="ID" type="xsd:ID" use="required" />
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="FilterType">
        <xsd:choice>
          <xsd:element name="LogicalExpression" type="bo:LogicalExpressionType" />
          <xsd:element name="ComparisonExpression" type="bo:ComparisonExpressionType" />
        </xsd:choice>
      </xsd:complexType>
      <xsd:complexType name="LogicalExpressionType">
        <xsd:sequence>
          <xsd:element name="logicalOperator">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="or" />
                <xsd:enumeration value="and" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:choice minOccurs="2" maxOccurs="unbounded">
            <xsd:element maxOccurs="unbounded" name="LogicalExpression" type="bo:LogicalExpressionType" />
            <xsd:element maxOccurs="unbounded" name="ComparisonExpression" type="bo:ComparisonExpressionType" />
          </xsd:choice>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ComparisonExpressionType">
        <xsd:sequence>
          <xsd:element name="comparisonOperator">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="le" />
                <xsd:enumeration value="lt" />
                <xsd:enumeration value="ge" />
                <xsd:enumeration value="gt" />
                <xsd:enumeration value="ne" />
                <xsd:enumeration value="eq" />
                <xsd:enumeration value="like" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:choice>
            <xsd:element name="attributeName" type="bo:filterAttributeListDT" />
            <xsd:element name="emptyValue" type="bo:EmptyValueType" />
            <xsd:element name="instanceValue" type="xsd:string" />
          </xsd:choice>
          <xsd:choice>
            <xsd:element name="attributeName" type="bo:filterAttributeListDT" />
            <xsd:element name="emptyValue" type="bo:EmptyValueType" />
            <xsd:element name="instanceValue" type="xsd:string" />
          </xsd:choice>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EmptyValueType" />
      <xsd:simpleType name="filterAttributeListDT">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="SFCOperatorOperation.ProductionOrderID" />
          <xsd:enumeration value="SFCOperatorOperation.OperationID" />
          <xsd:enumeration value="SFCOperatorOperation.OperatedItem" />
          <xsd:enumeration value="SFCOperatorOperation.OperatedItemDescription" />
          <xsd:enumeration value="SFCOperatorOperation.SerializedItemIndicator" />
          <xsd:enumeration value="SFCOperatorOperation.TaskID" />
          <xsd:enumeration value="SFCOperatorOperation.TaskDescription" />
          <xsd:enumeration value="SFCOperatorOperation.NextOperationID" />
          <xsd:enumeration value="SFCOperatorOperation.WorkCenterID" />
          <xsd:enumeration value="SFCOperatorOperation.WorkCenterDescription" />
          <xsd:enumeration value="SFCOperatorOperation.MachineID" />
          <xsd:enumeration value="SFCOperatorOperation.MachineDescription" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityPlannedOutput.Value" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityPlannedOutput.UOM" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityPlannedOutput.DisplayFormat" />
          <xsd:enumeration value="SFCOperatorOperation.OperationStatus" />
          <xsd:enumeration value="SFCOperatorOperation.LateIndicator" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityRequired" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityOnhandWarehouse" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityOnhandWarehouseCluster" />
          <xsd:enumeration value="SFCOperatorOperation.ShortageWarehouseIndicator" />
          <xsd:enumeration value="SFCOperatorOperation.ShortageWarehouseClusterIndicator" />
          <xsd:enumeration value="SFCOperatorOperation.PlannedProductionStartDate" />
          <xsd:enumeration value="SFCOperatorOperation.ActualProductionStartDate" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityCompleted.Value" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityCompleted.UOM" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityCompleted.DisplayFormat" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityRejected.Value" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityRejected.UOM" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityRejected.DisplayFormat" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityScrapped.Value" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityScrapped.UOM" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityScrapped.DisplayFormat" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityQuarantined.Value" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityQuarantined.UOM" />
          <xsd:enumeration value="SFCOperatorOperation.QuantityQuarantined.DisplayFormat" />
          <xsd:enumeration value="SFCOperatorOperation.RejectReasonID" />
          <xsd:enumeration value="SFCOperatorOperation.RejectReasonDescription" />
          <xsd:enumeration value="SFCOperatorOperation.SplitHoursIndicator" />
          <xsd:enumeration value="SFCOperatorOperation.BackflushHoursIndicator" />
          <xsd:enumeration value="SFCOperatorOperation.ProductionOrderText" />
          <xsd:enumeration value="SFCOperatorOperation.OperationText" />
          <xsd:enumeration value="SFCOperatorOperation.TaskText" />
          <xsd:enumeration value="SFCOperatorOperation.RemainingProductionTime.Value" />
          <xsd:enumeration value="SFCOperatorOperation.RemainingProductionTime.UOM" />
          <xsd:enumeration value="SFCOperatorOperation.RemainingProductionTime.DisplayFormat" />
          <xsd:enumeration value="SFCOperatorOperation.BlockingReasonID" />
          <xsd:enumeration value="SFCOperatorOperation.BlockingReasonDescription" />
          <xsd:enumeration value="SFCOperatorOperation.BlockQuantityCompletedIndicator" />
          <xsd:enumeration value="SFCOperatorOperation.BlockQuantityRejectedIndicator" />
          <xsd:enumeration value="SFCOperatorOperation.BlockedForCompletionIndicator" />
          <xsd:enumeration value="SFCOperatorOperation.PostToInventoryIndicator" />
          <xsd:enumeration value="SFCOperatorOperation.DirectReceiveIndicator" />
          <xsd:enumeration value="SFCOperatorOperation.SerializedItem.SerialNumber" />
          <xsd:enumeration value="SFCOperatorOperation.SerializedItem.RejectedIndicator" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="SelectionType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="selectionAttribute">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="*" />
                <xsd:enumeration value="SFCOperatorOperation.*" />
                <xsd:enumeration value="SFCOperatorOperation.ProductionOrderID" />
                <xsd:enumeration value="SFCOperatorOperation.OperationID" />
                <xsd:enumeration value="SFCOperatorOperation.OperatedItem" />
                <xsd:enumeration value="SFCOperatorOperation.OperatedItemDescription" />
                <xsd:enumeration value="SFCOperatorOperation.SerializedItemIndicator" />
                <xsd:enumeration value="SFCOperatorOperation.TaskID" />
                <xsd:enumeration value="SFCOperatorOperation.TaskDescription" />
                <xsd:enumeration value="SFCOperatorOperation.NextOperationID" />
                <xsd:enumeration value="SFCOperatorOperation.WorkCenterID" />
                <xsd:enumeration value="SFCOperatorOperation.WorkCenterDescription" />
                <xsd:enumeration value="SFCOperatorOperation.MachineID" />
                <xsd:enumeration value="SFCOperatorOperation.MachineDescription" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityPlannedOutput.*" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityPlannedOutput.Value" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityPlannedOutput.UOM" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityPlannedOutput.DisplayFormat" />
                <xsd:enumeration value="SFCOperatorOperation.OperationStatus" />
                <xsd:enumeration value="SFCOperatorOperation.LateIndicator" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityRequired" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityOnhandWarehouse" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityOnhandWarehouseCluster" />
                <xsd:enumeration value="SFCOperatorOperation.ShortageWarehouseIndicator" />
                <xsd:enumeration value="SFCOperatorOperation.ShortageWarehouseClusterIndicator" />
                <xsd:enumeration value="SFCOperatorOperation.PlannedProductionStartDate" />
                <xsd:enumeration value="SFCOperatorOperation.ActualProductionStartDate" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityCompleted.*" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityCompleted.Value" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityCompleted.UOM" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityCompleted.DisplayFormat" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityRejected.*" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityRejected.Value" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityRejected.UOM" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityRejected.DisplayFormat" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityScrapped.*" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityScrapped.Value" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityScrapped.UOM" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityScrapped.DisplayFormat" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityQuarantined.*" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityQuarantined.Value" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityQuarantined.UOM" />
                <xsd:enumeration value="SFCOperatorOperation.QuantityQuarantined.DisplayFormat" />
                <xsd:enumeration value="SFCOperatorOperation.RejectReasonID" />
                <xsd:enumeration value="SFCOperatorOperation.RejectReasonDescription" />
                <xsd:enumeration value="SFCOperatorOperation.SplitHoursIndicator" />
                <xsd:enumeration value="SFCOperatorOperation.BackflushHoursIndicator" />
                <xsd:enumeration value="SFCOperatorOperation.ProductionOrderText" />
                <xsd:enumeration value="SFCOperatorOperation.OperationText" />
                <xsd:enumeration value="SFCOperatorOperation.TaskText" />
                <xsd:enumeration value="SFCOperatorOperation.RemainingProductionTime.*" />
                <xsd:enumeration value="SFCOperatorOperation.RemainingProductionTime.Value" />
                <xsd:enumeration value="SFCOperatorOperation.RemainingProductionTime.UOM" />
                <xsd:enumeration value="SFCOperatorOperation.RemainingProductionTime.DisplayFormat" />
                <xsd:enumeration value="SFCOperatorOperation.BlockingReasonID" />
                <xsd:enumeration value="SFCOperatorOperation.BlockingReasonDescription" />
                <xsd:enumeration value="SFCOperatorOperation.BlockQuantityCompletedIndicator" />
                <xsd:enumeration value="SFCOperatorOperation.BlockQuantityRejectedIndicator" />
                <xsd:enumeration value="SFCOperatorOperation.BlockedForCompletionIndicator" />
                <xsd:enumeration value="SFCOperatorOperation.PostToInventoryIndicator" />
                <xsd:enumeration value="SFCOperatorOperation.DirectReceiveIndicator" />
                <xsd:enumeration value="SFCOperatorOperation.SerializedItem.*" />
                <xsd:enumeration value="SFCOperatorOperation.SerializedItem.SerialNumber" />
                <xsd:enumeration value="SFCOperatorOperation.SerializedItem.RejectedIndicator" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="processingScope">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="not_applicable" />
          <xsd:enumeration value="request" />
          <xsd:enumeration value="business_entity" />
          <xsd:enumeration value="business_entity_component" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="actionType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="create" />
          <xsd:enumeration value="createOrChange" />
          <xsd:enumeration value="change" />
          <xsd:enumeration value="delete" />
          <xsd:enumeration value="unchanged" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ListRequest">
    <wsdl:part name="ListRequest" type="bo:ListRequestType" />
  </wsdl:message>
  <wsdl:message name="ListResponse">
    <wsdl:part name="ListResponse" type="bo:ListResponseType" />
  </wsdl:message>
  <wsdl:message name="ChangeRequest">
    <wsdl:part name="ChangeRequest" type="bo:ChangeRequestType" />
  </wsdl:message>
  <wsdl:message name="ChangeResponse">
    <wsdl:part name="ChangeResponse" type="bo:ChangeResponseType" />
  </wsdl:message>
  <wsdl:message name="CreateRequest">
    <wsdl:part name="CreateRequest" type="bo:CreateRequestType" />
  </wsdl:message>
  <wsdl:message name="CreateResponse">
    <wsdl:part name="CreateResponse" type="bo:CreateResponseType" />
  </wsdl:message>
  <wsdl:message name="Result">
    <wsdl:part name="Result" element="bo:Result" />
  </wsdl:message>
  <wsdl:message name="Header">
    <wsdl:part name="Activation" element="bo:Activation" />
  </wsdl:message>
  <wsdl:portType name="SFCOperatorOperation">
    <wsdl:operation name="List">
      <wsdl:input message="bo:ListRequest" />
      <wsdl:output message="bo:ListResponse" />
      <wsdl:fault name="FaultName" message="bo:Result" />
    </wsdl:operation>
    <wsdl:operation name="Change">
      <wsdl:input message="bo:ChangeRequest" />
      <wsdl:output message="bo:ChangeResponse" />
      <wsdl:fault name="FaultName" message="bo:Result" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="bo:CreateRequest" />
      <wsdl:output message="bo:CreateResponse" />
      <wsdl:fault name="FaultName" message="bo:Result" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SFCOperatorOperationSoapBinding" type="bo:SFCOperatorOperation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="List">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.infor.com/businessinterface/SFCOperatorOperation" />
        <soap:header message="bo:Header" part="Activation" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.infor.com/businessinterface/SFCOperatorOperation" />
      </wsdl:output>
      <wsdl:fault name="FaultName">
        <soap:fault use="literal" name="FaultName" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Change">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.infor.com/businessinterface/SFCOperatorOperation" />
        <soap:header message="bo:Header" part="Activation" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.infor.com/businessinterface/SFCOperatorOperation" />
      </wsdl:output>
      <wsdl:fault name="FaultName">
        <soap:fault use="literal" name="FaultName" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.infor.com/businessinterface/SFCOperatorOperation" />
        <soap:header message="bo:Header" part="Activation" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.infor.com/businessinterface/SFCOperatorOperation" />
      </wsdl:output>
      <wsdl:fault name="FaultName">
        <soap:fault use="literal" name="FaultName" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SFCOperatorOperationService">
    <wsdl:port name="SFCOperatorOperationSoapPort" binding="bo:SFCOperatorOperationSoapBinding">
      <soap:address location="http://192.168.1.31:8312/c4ws/services/SFCOperatorOperation/lntestclone" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>