OTWeb/SmartWatchConnectorLibrary/Connected Services/OTService/OTService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50732/OTService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="loginRequest" nillable="true" type="q1:LoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="LoginResult" nillable="true" type="q2:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTeamLeaderCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="teamLeaderCall" nillable="true" type="q3:SendTeamLeaderCallRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTeamLeaderCallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="SendTeamLeaderCallResult" nillable="true" type="q4:SendTeamLeaderCallResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMaterialCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="materialCall" nillable="true" type="q5:SendMaterialCallRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMaterialCallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="SendMaterialCallResult" nillable="true" type="q6:SendMaterialCallResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSerials">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="getSerials" nillable="true" type="q7:GetSerialsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSerialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="GetSerialsResult" nillable="true" type="q8:GetSerialsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialCalls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="getMaterialCalls" nillable="true" type="q9:GetMaterialCallsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialCallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="GetMaterialCallsResult" nillable="true" type="q10:GetMaterialCallsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamLeaderCalls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="getTeamLeaderCalls" nillable="true" type="q11:GetTeamLeaderCallsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamLeaderCallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="GetTeamLeaderCallsResult" nillable="true" type="q12:GetTeamLeaderCallsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptMaterialCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="acceptMaterialCall" nillable="true" type="q13:AcceptMaterialCallRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptMaterialCallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="AcceptMaterialCallResult" nillable="true" type="q14:AcceptMaterialCallResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptTeamLeaderCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="acceptTeamLeaderCall" nillable="true" type="q15:AcceptTeamLeaderCallRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptTeamLeaderCallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="AcceptTeamLeaderCallResult" nillable="true" type="q16:AcceptTeamLeaderCallResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartSerial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="acceptTeamLeaderCall" nillable="true" type="q17:StartSerialRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartSerialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/OTWeb.DataContracts" minOccurs="0" name="StartSerialResult" nillable="true" type="q18:StartSerialResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>