UADMSoapWrapp3/ServiceTestConsole/Connected Services/OPEXTSoapService/OPEXTWrapper1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Engineering.DAB.UADMSoapWrap" elementFormDefault="qualified" targetNamespace="Engineering.DAB.UADMSoapWrap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56420/OPEXTWrapper.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UADMSoapWrapp.DataTypes.OPEXT" />
  <xs:element name="ImportWorkOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UADMSoapWrapp.DataTypes.OPEXT" minOccurs="0" name="workOrderInfo" nillable="true" type="q1:WorkOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportWorkOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UADMSoapWrapp.DataTypes.OPEXT" minOccurs="0" name="ImportWorkOrderResult" nillable="true" type="q2:WorkOrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportMaterialDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UADMSoapWrapp.DataTypes.OPEXT" minOccurs="0" name="materialDefinition" nillable="true" type="q3:MaterialDefinitionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportMaterialDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UADMSoapWrapp.DataTypes.OPEXT" minOccurs="0" name="ImportMaterialDefinitionResult" nillable="true" type="q4:MaterialDefinitionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>